/* --------------------------
Footer Stylesheet:
    -
Created By:
    Maciej Necki
Contents:
    -
-------------------------- */

.footer {
    height: 70px;
    width: 100%;
    position: absolute;
    bottom: 0;

    text-align: center;

    padding-right: 0;
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;

    background: #000;

    color: #fff;
}