/* --------------------------
Navigation Stylesheet:
    -
Created By:
    Maciej Necki
Contents:
    -
-------------------------- */

:root {
    --theme-color: #0b0c0d;
    --tint-color: #790100;
    --accent-color: #bf0029;
    --accent-alt-color: #272a2e;
}

/* -------------------------- Neos Navigation Elements */

nav.menu {
    background: #000;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;

    position: fixed;
    width: 100vw;

    padding-left: 0;
    padding-right: 0;
    height: 50px;

    z-index: 9;
}

nav.menu > ul {
    display: inline-block;
    padding-left: 0;
}

nav.menu > ul > li {
    display: inline;
    padding-left: 12px;
    list-style-type: none;
    padding: 5px;
    margin: 2px;
}

nav.menu > ul > li > a {
    color: var(--tint-color);
}

div.brand {
    display: block;
    position: absolute;
    top: 20px;
    padding-left: 20px;
}

div.brand > a {
    font-size: 18px;
    color: white;
    font-weight: 600;
}

li.active, li.current {
    color: var(--accent-alt-color);
}

/* Sub Menu*/
li.current > ul, li.normal > ul, li.active > ul {
    visibility: hidden;
    display: none;
}

/* Sub Menu*/
ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
    position: absolute;
    visibility: visible;
    display: block;
    background: var(--accent-alt-color);
    list-style: none;
    text-align: left;
    padding: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

ul.mobileMenu {
    visibility: hidden;
}

@media(max-width: 830px) {
    nav > ul {
        visibility: hidden;
    }

    ul.mobileMenu {
        visibility: visible;
        position: absolute;
        right: 0;
    }
}