/* --------------------------
Stylesheet handling default neos elements.
Created By:
    Maciej Necki
Contents:
    - Columns
    - Columns Mobile Optimisations
    - Content
    - Content Mobile Optimisations
    - Forms
    - Tables

-------------------------- */

/* -------------------------- Columns */

/* -------------------------- Columns Double */

div.columns-50-50 > div, div.columns-75-25 > div, div.columns-25-75 > div, div.columns-66-33 > div, div.columns-33-66 > div, div.columns-33-33-33 > div, div.columns-25-25-25-25 > div {
    vertical-align: text-top;
}

@media(min-width: 830px) {

    div.columns-50-50 > div.column {
        display: inline-block;
        width: 50%;
    }

    div.columns-75-25 > div.column:first-child {
        display: inline-block;
        width: 75%;
    }

    div.columns-75-25 > div.column:last-child {
        display: inline-block;
        width: 25%;
    }

    div.columns-25-75 > div.column:first-child {
        display: inline-block;
        width: 25%;
    }

    div.columns-25-75 > div.column:last-child {
        display: inline-block;
        width: 75%;
    }

    div.columns-66-33 > div.column:first-child {
        display: inline-block;
        width: 66.6666666666%;
    }

    div.columns-66-33 > div.column:last-child {
        display: inline-block;
        width: 33.3333333333%;
    }

    div.columns-33-66 > div.column:first-child {
        display: inline-block;
        width: 33.3333333333%;
    }

    div.columns-33-66 > div.column:last-child {
        display: inline-block;
        width: 66.6666666666%;
    }

}

/* -------------------------- Columns Triple */

div.columns-33-33-33 > div.column {
    display: inline-block;
    width: 33.33333333333333333333%;
}

/* -------------------------- Columns Quadruple */

div.columns-25-25-25-25 > div.column {
    display: inline-block;
    width: 25%;
}

/* -------------------------- Columns Mobile Optimisations */

@media(max-width: 830px) {
    div.column {
        display: block !important;
        width: 100%;
    }
}

@media(max-width: 1060px) {
    div.columns-50-50 > div.column {
    }

    div.columns-33-33-33 > div.column {
        display: inline-block;
        width: 100%;
    }

    div.columns-25-25-25-25 > div.column {
        display: block;
        width: 100%;
    }
}

@media(max-width: 1200px) {
    div.columns-50-50 > div.column {
    }

    div.columns-33-33-33 > div.column {
    }

    div.columns-25-25-25-25 > div.column {
        display: block;
        width: 100%;
    }
}

/* -------------------------- Content */

img {
    max-width: 1200px;
}

div.content {
    padding-top: 70px;
}

div.neos-contentcollection {
    padding: 0;
}

div.neos-nodetypes-html {
    padding: 0;
}

div.neos-nodetypes-image > figure {
    margin: 0;
    background-size: auto;
}

div.neos-nodetypes-image > figure > img {
    height: 100%;
}

.neos-alignment-right {
    text-align: right;
}

.neos-alignment-center {
    text-align: center;
}
.neos-alignment-left {
    text-align: left;
}


/* -------------------------- Content Mobile Optimisations */

@media(max-width: 830px) {
    div.content {
        padding-top: 70px;
    }
}

/* -------------------------- Forms */

.neos-nodetypes-form {
    width: 45%;
}

@media(max-width: 830px) {
    .neos-nodetypes-form {
        width: 100%;
    }
}

.form-navigation > ul {
    list-style: none;
    padding: 0;
    text-align: right;
}

fieldset {
    border: none;
    padding: 0;
}

fieldset > legend {
    font-size: 18px;
    font-weight: 600;
    padding: 0;
    padding-bottom: 16px;
}

input, textarea {
    width: 97%;
    border: none;
    padding: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

div.clearfix {
    padding-bottom: 16px;
}

/* -------------------------- Tables */

table {
    width: 100%;
    border-spacing: 0;
}

thead, tbody, tr, th, td { display: block; }

thead tr {
    /* fallback */
    width: 97%;
    /* minus scroll bar width */
    width: -webkit-calc(100% - 16px);
    width:    -moz-calc(100% - 16px);
    width:         calc(100% - 16px);
}

tr:after {  /* clearing float */
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

tbody {
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

tbody td, thead th {
    width: 19%;  /* 19% is less than (100% / 5 cols) = 20% */
    float: left;
}